@media (max-width: 615px) {
    .content_area h1 {
        font-size: 80px;
    }

    .image_area .line {
        height: 3px;
        width: 450px;
        background: #15a4fa;
        margin: 35px auto;
    }

    .contents .form_con {
        width: 90%;
        margin: 0 auto;
    }

}

@media (max-width: 468px) {
    .content_area h1 {
        font-size: 55px;
    }

    .image_area .line {
        height: 3px;
        width: 300px;
        background: #15a4fa;
        margin: 35px auto;
    }

}
