@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400,500,600,700|Lato:400,700,900');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5, 
h6,
p,
img,
a,
.navbar {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Lato Regular', sans-serif;
}

p {
    font-family: 'Lato Regular', sans-serif;
}

/*Header Part Start*/
.header area {
    background: #f6f9f9;
}

.main_menu {
    padding: 15px 0;
    background: #ffffff;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 30px;
    font-weight: 400;
}

.main_menu .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0px;
}

.main_menu .navbar-nav .nav-item.active .nav-link,
.main_menu .navbar-nav .nav-item .nav-link:hover {
    color: #15a4fa;

}
.collapse .nav-item a {
    color: #2d3950;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.collapse .nav-item {
    margin-left: 30px;
}

/*Header Part End*/

/*Image Part Start*/
.image_area {
    background-image: url('../images/bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}
.overlay{
    background: rgba(0,0,0,0.2);
}
.content_area{
    height: 800px;
    
}
.image_area h1{
    font-size: 90px;
    font-family: 'Lato Bold', sans-serif;
    padding-top: 215px;
}
.image_area .line {
    height: 3px;
    width: 600px;
    background: #15a4fa;
    margin: 35px auto;
}
.content_area h5{
    font-family: 'Lato Regular', sans-serif;
    margin-top: 40px;
}
.content_area .call a{
    border: 2px solid #15a4fa;
    padding: 20px 35px;
    color: #fff;
    font-family: 'Lato Regular', sans-serif;
    font-size: 18px;
    text-decoration: none;
    transition: all linear .3s;
}
.content_area .call a:hover{
    color: #15a4fa;
    background: #fff;
}
.content_area .call{
    padding-top: 65px;
}
.content_area .icon i{
    padding-top: 180px;
    color: #fff;
}

/*Image Part End*/